<div class="relative h-[300px]" #sketchContainer>
  <div class="absolute h-[300px]" #sketch></div>
</div>
<div class="mt-4 flex flex-wrap gap-6">
  <div class="flex items-center gap-2">
    <span class="block h-4 w-4 rounded bg-[rgba(42,252,42,0.5)]">&nbsp;</span>
    <span class="whitespace-nowrap">Escaped Secondary Electrons</span>
  </div>
  <div class="flex items-center gap-2">
    <span class="block h-4 w-4 rounded bg-[rgba(252,42,42,0.25)]">&nbsp;</span>
    <span class="whitespace-nowrap">Internal Secondary Electrons</span>
  </div>
</div>
