<div class="navbar bg-base-100 border-b-primary border-b">
  <a class="btn btn-ghost text-xl">SEMulate</a>
</div>

<main
  class="flex flex-col-reverse md:flex-row w-full h-full relative md:h-[calc(100vh-65px)]"
>
  <!-- LEFT SIDE -->
  <div
    [formGroup]="formGroup"
    class="p-4 grid grid-cols-1 min-w-[400px] z-10 divide-y"
  >
    <!-- PATTERN GEOMETRY -->
    <div class="py-8">
      <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900">
          Pattern Geometry
        </h2>
      </div>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text text-sm text-gray-500">NUMBER OF LINES</span>
        </div>
        <input
          formControlName="numLines"
          type="number"
          class="input input-bordered w-full"
        />
      </label>
    </div>

    <!-- INTERACTION VOLUME -->
    <div class="py-8">
      <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900">
          Interaction Volume
        </h2>
      </div>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text text-sm text-gray-500">DEPTH</span>
        </div>
        <input
          formControlName="ivDepth"
          type="range"
          min="2"
          max="30"
          class="range"
          step="2"
        />
      </label>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text text-sm text-gray-500">RADIUS</span>
        </div>
        <input
          formControlName="ivRadius"
          type="range"
          min="2"
          max="20"
          class="range"
          step="2"
        />
      </label>
    </div>

    <!-- SECONDARY ELECTRONS -->
    <div class="py-8">
      <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900">
          Secondary Electrons
        </h2>
      </div>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text text-sm text-gray-500">
            ELECTRONS PER FRAME
          </span>
        </div>
        <input
          formControlName="electronsPerFrame"
          type="number"
          class="input input-bordered w-full"
        />
      </label>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text text-sm text-gray-500">ENERGY MEAN</span>
        </div>
        <input
          formControlName="energyMean"
          type="range"
          min="5"
          max="100"
          class="range"
          step="5"
        />
      </label>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text text-sm text-gray-500">ENERGY STD DEV</span>
        </div>
        <input
          formControlName="energyStdDev"
          type="range"
          min="2"
          max="60"
          class="range"
          step="2"
        />
      </label>
    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="flex flex-col gap-4 bg-gray-200 p-4 w-full">
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title text-base">
          Secondary Electron Detections vs Position
        </h2>
        <sem-linescan></sem-linescan>
      </div>
    </div>

    <div class="card bg-base-100 shadow-xl">
      <div #sketchContainer class="card-body">
        <ng-container *ngIf="params$ | async as params">
          <h2 class="card-title text-base">SEM Simulation</h2>
          <sem-semulate [parameters]="params"></sem-semulate>
        </ng-container>
      </div>
    </div>
  </div>
</main>
